/* Navbar.css */

.navbar {
  margin-bottom: 20px;
}

.nav-link {
  margin-right: 10px;
}

@media (max-width: 600px) {
.navbar-inner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}


.navbar-nav {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin: 0;
  list-style: none; 
}

.nav-item {
  margin-right: 15px;
}

}