/* TaskDetail.css */

.task-detail {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.task-detail h2 {
  color: #343a40;
}


.task-detail .btn {
  margin-top: 10px;
}



.task-detail table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.task-detail td {
  padding: 8px;
  vertical-align: top;
}

.task-detail td:first-child {
  width: 150px;
}

.priority-high {
  color: red;
}

.priority-medium {
  color: orange;
}

.priority-low {
  color: green;
}